* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: #F5FCFF;
  min-height: 100vh;
  line-height: 1.5;
  font-family: poppins;
}

body,
h1,
h2 {
  margin-block-end: 0;
}

img {
  max-width: 100%;
  display: block;
}

header {
  margin-top: 70px;
}

.intro,
.cardContainer {
  margin: auto;
  max-width: 350px;
}

.intro {
  margin-bottom: 3rem;
  text-align: center;
}

h1 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}

p {
  color: hsl(212, 6%, 44%);
}

.hlFirst {
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}

.hlSecond {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  padding-top: 0;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}


.superCard, .teamCard, .karmaCard, .calcCard {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 2rem;
    padding-top: 1.2rem;
    box-shadow: 0.5px 0.5px 25px 2px #BFCCD9;
    transition: transform .3s;
}

.superCard {
    border-top: solid 5px hsl(180, 62%, 55%);
}

.teamCard {
    border-top: solid 5px hsl(0, 78%, 62%);
}

.karmaCard {
    border-top: solid 5px hsl(34, 97%, 64%);
}

.calcCard {
    border-top: solid 5px hsl(212, 86%, 64%);
}

.cardText {
  margin-bottom: 3rem;
}

.cardImg {
   display: flex;
   flex-direction: row;
   justify-content: right;
}

.superCard:hover, .teamCard:hover, .karmaCard:hover, .calcCard:hover {
  transform: scale(1.1);
}

@media (min-width: 1000px) {
    .intro {
      max-width: 700px;
    }

    h1 {
      font-size: 1.9rem;
    }

    .cardContainer {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(260px, 1 fr));
        grid-template-rows: 125px 125px 125px 125px;
        grid-gap: 2em;
        max-width: 1100px;
        padding-inline: 1rem;
        box-sizing: border-box;
    }

    h2 {
      font-size: 1.4rem;
    }

    .introPar {
      font-size: 1.2rem;
    }

    .superCard {
      grid-column: 1;
      grid-row: 2 / span 2;
    }

    .teamCard {
      grid-column: 2; 
      grid-row: 1 / span 2;
    }

    .karmaCard {
      grid-column: 2;
      grid-row: 3 / span 2;
    }

    .calcCard {
      grid-column: 3;
      grid-row: 2 / span 2;
    }

    .cardImg {
      display: flex;
      justify-content: flex-end;
      align-items:flex-end;
    }

    .cardContainer p {
      margin-bottom: 4.5rem;
    }

    .teamCard p {
      margin-bottom: 3.5rem;
    }

    img {
      height: clamp(48px, 6vw, 60px);
    }

    .superCard, .teamCard, .karmaCard, .calcCard {
        margin-bottom: 0;
    }

}

footer {
  margin-top: 600px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
