* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: #F5FCFF;
  min-height: 100vh;
  line-height: 1.5;
  font-family: poppins;
}

body,
h1,
h2 {
  margin-block-end: 0;
}

img {
  max-width: 100%;
  display: block;
}

header {
  margin-top: 70px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.intro,
.cardContainer {
  margin: auto;
  max-width: 350px;
}

.intro {
  margin-bottom: 3rem;
}

h1 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.superCard, .teamCard, .karmaCard, .calcCard {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 3px 3px 20px 10px #E0E0E0;
}

.superCard {
    border-top: solid 5px hsl(180, 62%, 55%);
}

.teamCard {
    border-top: solid 5px hsl(0, 78%, 62%);
}

.karmaCard {
    border-top: solid 5px hsl(34, 97%, 64%);
}

.calcCard {
    border-top: solid 5px hsl(212, 86%, 64%);
}

.cardText {
  margin-bottom: 3rem;
}

.cardImg {
   display: flex;
   flex-direction: row;
   justify-content: right;
}

footer {
  margin-top: 600px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
